.Navigation {
    margin: 10px 0;
    width: 100%;
    padding: 0;
    list-style: none;
    display: block;
    align-items: center;
    box-sizing: border-box;

}
.link {
    color: white;
    box-sizing: border-box;
    display: block;
}
.link:hover {
    color: black;
}

@media (min-width: 500px) {
    .Navigation {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    .link {
        color: white;
        padding: 16px 10px;
        border-bottom: 4px, solid transparent;
        display: block;
    }
    .link :hover{
        color: yellow;
    }
    .link:active{
        color: teal;
    }

}
@media(max-width: 499px) {
    .logo{
        display: none;
    }
}




